/*
*{
               margin: 0px;
               padding: 0px;
}
body{
               background-color: black;
}
.frist{
               background-color: white;
               padding: 100px;
               margin: 100px;
}
.second{
               height: 100px;
               width: 150px;
               background-color: orange;
}
.third{
               height: 200px;
               width: 500px;
               background-color: aqua;
}
*/
*{
    height: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container{
  padding: 20px;
  background-color: aqua;
  position: relative;
}

.box{
    height: 100px;
    width: 200px;
    background-color: red;
    animation-name: moving;
    animation-duration: 5s;
    /*animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-delay: 2s;*/
    /* animation-fill-mode: backwards; */
   position: absolute;
}

@keyframes moving {
    /*0%{
        background-color: orange;
        top:10px;
        left:10px;
    }
    25%{
        background-color: blue;
        top:10px;
        left:1000px;
    }
    50%{
        background-color: green;
        top:500px;
        left:1000px;
    }
    75%{
        background-color: blue;
        top:500px;
        left:10px;
    }
    100%{
        background-color: orange;
        top:10px;
        left:10px;
    }*/

    from{
           background-color: orange;
        top:10px;
        left:10px;
    }
    to{
 background-color: blue;
        top:10px;
        left:500px;
    }

}



/*
.box{
               height: 100px;
               width: 150px;
               background-color: orange;
               animation-name: moving;*/
               /*animation-iteration-count: 5;*/
               /*animation-iteration-count: infinite;
               /*animation-timing-function: ease-in;
               /*animation-timing-function: ease-out; 
               animation-timing-function: linear;  
               animation-timing-function: ease-in-out; 
               animation-timing-function: cubic-bezier();
               animation-direction: alternate;*/
               /*animation-delay: 2s;
               animation-duration: 10s;
               position: absolute;
}*/
@keyframes moving{
          from{
                background-color: yellow;
                top: 10px;
                left: 10px;
          }   
          to{
               background-color: blue;
               top: 10px; 
               right: 1000px;

          }  
}
/*
 animation-timing-function: ease-in; slow -fast
 animation-timing-function: ease-out; fast - slow
 animation-timing-function: linear; ek hi speed
 animation-timing-function: ease-in-out; slow -slow

 */