*{
               margin: 0px;
               padding: 0px;
}
body{
               background-color:slategray;
               height: 100vh;
               display: flex;
               justify-content: center;
               align-items: center;
}
#container{
               height: 400px;
               width: 400px;
               display: grid;
               grid-template-columns: repeat(8,1fr);
               grid-template-rows: repeat(8,1fr);
}
.white{
               background-color: white;
}
.black{
               background-color: black;
}
